@font-face { font-family: "icon"; src: url('../font/icomoon/fonts/icomoon.eot?1604465359') format('embedded-opentype'), url('../font/icomoon/fonts/icomoon.woff?1604465359') format('woff'), url('../font/icomoon/fonts/icomoon.ttf?1604465359') format('truetype'), url('../font/icomoon/fonts/icomoon.svg?1604465359') format('svg'); }
*[class^="icon-"]:before, *[class*=" icon-"]:before { font-family: "icon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; }

.icon-triangle-up:before { content: "\e901"; }

.icon-clear:before { content: "\e900"; }

.icon-close:before { content: "\e900"; }

.icon-navigate_before:before { content: "\e904"; }

.icon-chevron_left:before { content: "\e904"; }

.icon-navigate_next:before { content: "\e905"; }

.icon-chevron_right:before { content: "\e905"; }

.icon-menu:before { content: "\e902"; }

.icon-first_page:before { content: "\e906"; }

.icon-last_page:before { content: "\e907"; }

.icon-facebook:before { content: "\ea90"; }

.icon-instagram:before { content: "\ea92"; }

.icon-youtube:before { content: "\ea9d"; }

.icon-chevron-down:before { content: "\e90a"; }

.icon-chevron-left:before { content: "\e90b"; }

.icon-chevron-right:before { content: "\e90c"; }

.icon-chevron-up:before { content: "\e90d"; }

.icon-search:before { content: "\e903"; }
