*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

p { padding: 0; margin: 0; }

.text_left { text-align: left; }

.text_right { text-align: right; }

.t_w_1 { font-weight: 100; }

.t_w_4 { font-weight: 400; }

.t_w_7 { font-weight: 700; }

.t_w_9 { font-weight: 900; }

.l_40 { line-height: 3rem; }
@media screen and (max-width: 449px) and (min-width: 0) { .l_40 { line-height: 2.3rem; } }

.l_30 { line-height: 2.3rem; }

.l_20 { line-height: 1.5rem; }

.l_24 { line-height: 1.9rem; }

.page_banner_title { display: inline-block; font-size: 2.6rem; color: white; padding-left: 65px; float: left; text-align: left; position: absolute; bottom: 50px; left: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .page_banner_title { font-size: 2.6rem; bottom: 30px; padding-left: 30px; } }
.page_banner_title:after { display: block; content: attr(title); font-size: 1.6rem; font-family: 'Roboto'; }
@media screen and (max-width: 449px) and (min-width: 0) { .page_banner_title:after { font-size: 1.6rem; } }

.page_banner_title2 { display: inline-block; font-size: 2.6rem; color: white; float: left; text-align: left; padding-top: 250px; }
@media screen and (max-width: 449px) and (min-width: 0) { .page_banner_title2 { font-size: 2.6rem; bottom: 30px; padding-left: 30px; } }
.page_banner_title2:after { display: block; content: attr(title); font-size: 1.6rem; font-family: 'Roboto'; margin-top: 5px; }
@media screen and (max-width: 449px) and (min-width: 0) { .page_banner_title2:after { font-size: 1.6rem; } }

.slogan_title { display: inline-block; width: 100%; font-size: 2.2rem; color: #5b3468; }
.slogan_title.s-t-2 { color: #954384; }
.slogan_title.s-t-3 { font-size: 1.6rem; }
@media screen and (max-width: 449px) and (min-width: 0) { .slogan_title { font-size: 2rem; } }
.slogan_title.c_s_blue { color: #0075b5; }
.slogan_title.c_s_red { color: #db092f; }
.slogan_title.c_s_yellow { color: #edc300; }

.slogan_text { display: inline-block; width: 100%; font-size: 1.5rem; color: #545454; padding-top: 40px; line-height: 34px; }
.slogan_text.s-t-pD60 { padding-bottom: 60px; }
@media screen and (max-width: 449px) and (min-width: 0) { .slogan_text { padding-bottom: 60px; text-align: left; }
  .slogan_text.m-s-t-l { text-align: center; } }

.cent_text18_rd { display: inline-block; width: 100%; font-size: 1.5rem; color: #545454; line-height: 34px; padding: 0 130px 130px 0; text-align: left; }
@media screen and (max-width: 1099px) and (min-width: 760px) { .cent_text18_rd { padding: 0 60px 60px 0; } }
@media screen and (max-width: 449px) and (min-width: 0) { .cent_text18_rd { padding: 60px 0; } }

.cent_text18_w { display: inline-block; width: 100%; font-size: 1.5rem; color: white; line-height: 34px; }

.i_text16_dG { display: inline-block; font-size: 1.1rem; color: #545454; line-height: 30px; }

.i_text20_main { font-size: 1.8rem; color: #5b3468; font-weight: 700; margin-bottom: 60px; }
.i_text20_main:after { display: inline-block; width: 100%; content: attr(title); font-size: 1.4rem; color: #5b3468; font-weight: 400; margin-top: 5px; letter-spacing: 0 !important; }
.i_text20_main.h-m-T100 { margin-top: 100px; }
@media screen and (max-width: 449px) and (min-width: 0) { .i_text20_main.h-m-T100 { margin-top: 50px; } }
.i_text20_main.h-s-T40 { padding-top: 40px; }
@media screen and (max-width: 449px) and (min-width: 0) { .i_text20_main { margin-bottom: 40px; } }

.n_text20_main { font-size: 1.5rem; color: #5b3468; margin-bottom: 20px; text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .n_text20_main { margin-bottom: 10px; } }

.a_text16_dG { display: inline-block; width: 100%; font-size: 1.2rem; color: #545454; float: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .a_text16_dG { width: 90%; } }

.a_text20_main { width: 100%; font-size: 1.5rem; color: #5b3468; margin-bottom: 10px; float: left; }
.a_text20_main.a_p_intro { padding: 100px 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .a_text20_main.a_p_intro { width: 100% !important; padding: 50px 0; } }
@media screen and (max-width: 449px) and (min-width: 0) { .a_text20_main { margin-bottom: 5px; width: 90%; }
  .a_text20_main.a_add_right { width: 100% !important; padding: 50px 0 !important; } }

.a_text16_lT { font-size: 1.2rem; color: #545454; text-align: left; margin-bottom: 10px; line-height: 2.4rem; }
.a_text16_lT:before { display: inline-block; content: attr(title); font-size: 1.2rem; color: #545454; }

.n_text14_lT { font-size: 1.1rem; color: #545454; text-align: left; margin-bottom: 10px; line-height: 2.4rem; }
.n_text14_lT:before { display: inline-block; content: attr(title); font-size: 1.2rem; color: #545454; }

.n_text20_lT { font-size: 1.5rem; color: #545454; text-align: left; margin-bottom: 10px; line-height: 2.5rem; }
.n_text20_lT:before { display: inline-block; content: attr(title); font-size: 1.2rem; color: #545454; }

.i_text70_main { font-size: 5.3rem; color: #5b3468; font-weight: 700; position: relative; }
.i_text70_main:after { display: inline-block; content: attr(title); font-size: 1.8rem; color: #5b3468; margin-left: 5px; position: absolute; bottom: 12px; }
@media screen and (max-width: 449px) and (min-width: 0) { .i_text70_main { float: left; font-size: 3rem; text-align: left; }
  .i_text70_main:after { font-size: 1.2rem; } }

.tag14 { display: inline-block; background-color: #5b3468; color: white; font-size: 1rem; padding: 5px 20px; }

.tag12 { display: inline-block; width: 100%; font-size: 1rem; color: #545454; padding-top: 20px; text-align: left; }

.f_text16_w { display: inline-block; font-size: 1.2rem; color: white; padding-bottom: 20px; }

.f_text14_lG_full { display: inline-block; font-size: 1rem; color: #d8d8d8; line-height: 30px; }

.text12_w { font-size: .8rem; color: white; }

.text12_dG { font-size: .8rem; color: #545454; }

.text14_dG { font-size: 1.2rem; color: #545454; }
@media screen and (max-width: 449px) and (min-width: 0) { .text14_dG { text-align: left; } }

.text14_second { font-size: 1.1rem; color: #954384; }

.text14_w { font-size: 1.1rem; color: white; }

.text14_lG_full { font-size: 1.1rem; color: #d8d8d8; }

.text16_l_p { font-size: 1.2rem; color: #866e99; }

.text16_lT { font-size: 1.2rem; color: #545454; }

.text16_dG { font-size: 1.2rem; color: #545454; }

.text16_w { font-size: 1.2rem; color: white; }
@media screen and (max-width: 449px) and (min-width: 0) { .text16_w { font-size: 1rem; } }

.text16_main { font-size: 1.2rem; color: #5b3468; }

.text16_second { font-size: 1.2rem; color: #954384; }

.text18_dG { font-size: 1.5rem; color: #545454; }

.text18_main { font-size: 1.5rem; color: #5b3468; }

.text18_w { font-size: 1.5rem; color: white; }

.text20_dG { font-size: 1.5rem; color: #545454; }

.text20_w { font-size: 1.5rem; color: white; }

.text20_main { font-size: 1.5rem; color: #5b3468; }
.text20_main.c_text20_blue { color: #0075b5; }

.text20_lT { font-size: 1.5rem; color: #545454; }

.text24_main { font-size: 1.8rem; color: #5b3468; }
@media screen and (max-width: 449px) and (min-width: 0) { .text24_main { display: inline-block; float: left; font-size: 1.6rem; } }

.text24_white { font-size: 1.8rem; color: white; }
@media screen and (max-width: 449px) and (min-width: 0) { .text24_white { display: inline-block; font-size: 1.6rem; } }

.text26_main { font-size: 2rem; color: #5b3468; }

.text26_dG { font-size: 2rem; color: #545454; }

.text26_w { font-size: 2rem; color: white; }

.f_text28_w { font-size: 2.1rem; color: white; }

.text30_w { font-size: 2.3rem; color: white; }

.text70_main { font-size: 5.3rem; color: #5b3468; }

.table_title { display: inline-block; width: 100%; max-width: 915px; font-size: 2rem; color: white; text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .table_title { max-width: none; } }

.table_text16 { display: inline-block; font-size: 1.2rem; color: white; line-height: 50px; }
@media screen and (max-width: 449px) and (min-width: 0) { .table_text16 { font-size: 1.15rem; line-height: 20px; padding-top: 3px; } }

.table_text26 { display: inline-block; font-size: 2rem; color: white; padding-top: 10px; }
@media screen and (max-width: 449px) and (min-width: 0) { .table_text26 { font-size: 1.8rem; } }
.table_text26:before { display: inline-block; padding-top: 10px; line-height: normal; content: attr(title); font-size: 1.1rem; color: white; margin-top: -5px; }
@media screen and (max-width: 449px) and (min-width: 0) { .table_text26:before { font-size: 1rem; } }

.table_text14 { display: inline-block; width: 100%; font-size: 1.1rem; color: white; line-height: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .table_text14 { display: none; } }
.table_text14:before { display: inline-block; width: 100%; padding-top: 10px; line-height: normal; content: attr(title); font-size: 1.1rem; color: white; }

.table_text14_m { display: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .table_text14_m { display: inline-block; width: 100%; font-size: 1rem; color: white; line-height: 20px; } }

.table_se { display: inline-block; width: 100%; max-width: 915px; padding-top: 24px; font-size: 1.5rem; color: #d8d8d8; text-align: left; }

.t_in_name { display: inline-block; font-size: 1.23rem; color: white; text-align: left; float: left; line-height: 25px; }

.t_in_day { display: inline-block; width: 100%; color: white; font-size: 2rem; padding: 10px 0; text-align: left; }

.m-step-type { display: inline-block; font-size: 1.8rem; color: #5b3468; margin-top: 25px; }

.t-parent { display: inline-block; width: 100%; color: #f7af27; font-size: 1.5rem; text-align: left; margin-top: 10px; }

a { display: inline-block; cursor: pointer; text-decoration: none; outline: 0; }

button { display: inline-block; cursor: pointer; outline: 0; border: 0; background-color: transparent; }

.header_logo { display: inline-block; width: 100%; max-width: 274px; }
@media screen and (max-width: 449px) and (min-width: 0) { .header_logo { max-width: 220px; } }

.btn_search { display: inline-block; color: #866e99; font-size: 1.6rem; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.btn_search:hover, .btn_search:active { color: white; }
.btn_search.btn_search2 { color: #5b3468; font-size: 1.8rem; -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }
.btn_search.btn_search2:hover, .btn_search.btn_search2:active { color: #866e99; }

.mob-menu-lag { display: inline-block; font-size: 1.2rem !important; padding: 15px 0 !important; color: white; float: left; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.mob-menu-lag:nth-child(2):after { display: none; }
.mob-menu-lag:hover, .mob-menu-lag:active { color: #954384; }
.mob-menu-lag:hover:after, .mob-menu-lag:active:after { color: white; }
.mob-menu-lag:after { display: inline-block; content: '|'; color: white; margin: 0 10px; }

.link_white { display: inline-block; width: 100%; max-width: 178px; padding: 5px 20px; font-size: 18px; color: white; border: 2px solid white; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; float: right; text-align: center; margin-bottom: 10px; }
@media screen and (max-width: 449px) and (min-width: 0) { .link_white { padding: 5px 0; } }
.link_white:hover, .link_white:active { background-color: white; color: #954384; }
.link_white:first-child { margin-left: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .link_white { width: calc(50% - 20px); margin-top: 20px; float: none; }
  .link_white:first-child { float: right; margin-left: 0; } }

.link_main { display: inline-block; padding: .7rem 2rem; background-color: #5b3468; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; border: 2px solid #954384; font-size: 1.3rem; color: white; }
.link_main:hover, .link_main:active { background-color: #954384; }
.link_main.lm-mD60 { margin-bottom: 60px; }
.link_main.mob-menu { font-size: 1.2rem !important; padding: 10px 40px !important; margin-left: 30px !important; }

.link_language { display: inline-block; color: #5b3468; font-size: 1.1rem; margin: 3px 7px 0 7px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.link_language:hover, .link_language:active { color: #954384; }
.link_language:nth-child(2):after { display: inline-block; content: ''; width: 1px; height: 20px; background-color: #5b3468; margin: 2px 0 0 14px; }

.link_icon { display: inline-block; color: #5b3468; font-size: 1.6rem; margin: 3px 7px 0 0; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.link_icon:hover, .link_icon:active { color: #954384; }
.link_icon.l_icon_w { color: white; margin: 3px 5px; }
.link_icon.l_icon_w:hover, .link_icon.l_icon_w:active { color: #954384; }

.icon-youtube { font-size: 1.8rem; margin: 3px 10px 0 10px !important; }

.link_work { display: inline-block; color: white; font-size: 1.3rem; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.link_work:hover, .link_work:active { text-decoration: underline; }
.link_work:before { display: inline-block; content: '\e90c'; font-family: icon; margin-right: 5px; margin-top: 2px; }

.link_news { display: inline-block; color: #545454; font-size: 1.1rem; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; padding: 10px 0; }
.link_news:hover, .link_news:active { color: #954384; }
.link_news:before { display: inline-block; content: '\e90c'; font-family: icon; margin-right: 3px; margin-top: 2px; }
.link_news.page-l-n { margin-right: 10px; }

.link_new_list { display: block; font-size: 1.2rem; color: #5b3468; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; line-height: 30px; }
.link_new_list:hover, .link_new_list:active { color: #954384; }
.link_new_list.n-list-all { color: #954384; }
.link_new_list:after { display: inline-block; content: attr(title); margin-left: 5px; }

.link_16_main { display: inline-block; width: 100%; font-size: 1.6rem; color: #5b3468; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; padding: 6px 0; text-align: left; }
.link_16_main:hover, .link_16_main:active { color: #954384; }
.link_16_main:before { display: inline-block; content: attr(title); font-size: 1.6rem; color: #5b3468; }

.link_18_main { display: inline-block; width: 100%; font-size: 1.3rem; color: #5b3468; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; padding: 6px 0; }
.link_18_main:hover, .link_18_main:active { color: #954384; }
.link_18_main:before { display: inline-block; content: attr(title); font-size: 1.2rem; color: #5b3468; }

.link_20_main { display: inline-block; width: 100%; font-size: 1.6rem; color: #5b3468; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; padding: 6px 0; text-align: left; }
.link_20_main:hover, .link_20_main:active { color: #954384; }
.link_20_main:before { display: inline-block; content: attr(title); font-size: 1.2rem; color: #5b3468; }

.link_out_line { display: inline-block; padding: 1.2rem 2rem; margin-top: 40px; color: #5b3468; border: 2px solid #5b3468; font-size: 1.3rem; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; background-color: white; }
.link_out_line:hover, .link_out_line:active { background-color: #954384; color: white; border: 2px solid #954384; }

.t_link_out_line { display: inline-block; padding: .7rem 2rem; margin-top: 40px; color: white; border: 2px solid #954384; font-size: 1.3rem; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; background-color: transparent; }
.t_link_out_line:hover, .t_link_out_line:active { background-color: #954384; color: white; border: 2px solid #954384; }

.link_arrow { display: inline-block; color: #545454; font-size: 1.4rem; text-transform: none; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.link_arrow:hover, .link_arrow:active { color: #5b3468; }
.link_arrow:after { display: inline-block; content: '\e905'; font-family: icon; margin-top: 2px; }
.link_arrow.other_mark:after { display: none; }
.link_arrow.other_mark:before { display: inline-block; content: '\e904'; font-family: icon; margin-top: 2px; }

.pop_cover { cursor: pointer; display: inline-block; width: 100%; min-height: 100%; position: absolute; z-index: 4; top: 0; left: 0; background-color: rgba(255, 255, 255, 0); padding: 25px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; *zoom: 1; }
.pop_cover:after { display: table; content: ""; line-height: 0; clear: both; }
.pop_cover .test { display: none; width: 100%; padding-top: 20%; color: #5b3468; font-size: 3rem; font-weight: 700; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.pop_cover:hover { background-color: rgba(255, 255, 255, 0.5); }
.pop_cover:hover .test { display: inline-block; }

.a_bread { display: inline-block; cursor: pointer; font-size: 1rem; color: #545454; text-transform: none; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; text-align: left; }
.a_bread:hover, .a_bread:active { color: #954384; }

.bread_share { display: inline-block; color: #5b3468; font-size: 1.2rem; font-weight: 700; line-height: 26px; }
.bread_share:before { display: inline-block; content: '\ea90'; font-family: 'icon'; margin-top: -1px; margin-right: 3px; }

.a_text20_dG { display: inline-block; text-decoration: none; cursor: pointer; font-size: 1.5rem; color: #545454; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; padding-top: 10px; }
.a_text20_dG:hover, .a_text20_dG:active { color: #954384; }

.a_text14_lG_full { display: inline-block; font-size: 1.1rem; color: #d8d8d8; text-decoration: none; cursor: pointer; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; line-height: 1.9rem; }
.a_text14_lG_full:hover, .a_text14_lG_full:active { color: #954384; }
.a_text14_lG_full:nth-child(2) { margin-left: 20px; }

.a_text14_w { display: inline-block; width: 100%; font-size: 1.1rem; color: white; text-decoration: none; cursor: pointer; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.a_text14_w:hover, .a_text14_w:active { color: #954384; }

.link18_o { display: inline-block; font-size: 1.3rem; color: #f5a623; text-decoration: none; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.link18_o:hover { text-decoration: underline; }

.in_new_pic { display: inline-block; width: 100%; height: 100%; }
