
$color_main: rgba(0, 64, 152, 1.00); // O主要紫色
$color_second: rgba(0, 145, 255, 1.00); // O淺紫色（深粉紅色）
$color_second2: rgba(0, 145, 255, .5); // O淺紫色（深粉紅色）
$color_deep_p: rgba(232, 69, 114, 1.00); // O深紫色 
$color_light_p: rgba(0, 145, 255, 1.00); // O藕色

$color_blue: rgba(0, 117, 181, 1.00);
$color_red: rgba(219, 9, 47, 1.00);
$color_yellow: rgba(237, 195, 0, 1.00);

$color_lG: rgba(216, 216, 216, .3);
$color_lG100: rgba(216, 216, 216, 1);
$color_dG: rgba(84, 84, 84, 1.00);
$color_line: rgba(84, 84, 84, .5); // 原：#9b9b9b 改：#545454
$color_line_text: rgba(84, 84, 84, 1); // 原：#9b9b9b 改：#545454

$color_line2: rgba(155, 155, 155, .5); // 原：#9b9b9b
$color_line_text2: rgba(155, 155, 155, 1); // 原：#9b9b9b

$color_gG: rgba(106, 157, 158, 1.00); // 藍綠色

$class_blue: #4A90E2;
$class_orange:#ED6C00;
