@import "Ginkgo";
@import "color";
@import "text";

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}

button {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: transparent;
}


.header_logo {
  display: inline-block;
  width: 100%;
  max-width: 274px;

  @include range-width(0, 450px) {
    max-width: 220px;
  }
}

.btn_search {
  display: inline-block;
  color: $color_light_p;
  font-size: 1.6rem;
  @include transition(all .3s);
  
  &:hover, &:active {
    color: white;
  }

  &.btn_search2 {
    color: $color_main;
    font-size: 1.8rem;
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);

    &:hover, &:active {
      color: $color_light_p;
    }
  }
}

.mob-menu-lag {
  display: inline-block;
  font-size: 1.2rem !important;
  padding: 15px 0 !important;
  color: white;
  float: left;
  @include transition(all .3s);

  &:nth-child(2) {
    &:after {
      display: none;
    }
  }
  
  &:hover, &:active {
    color: $color_second;

    &:after {
      color: white;
    }
  }

  &:after {
    display: inline-block;
    content: '|';
    color: white;
    margin: 0 10px;
  }
}

.link_white {
  display: inline-block;
  padding: 5px 20px;
  font-size: 18px;
  color: white;
  border: 2px solid white;
  @include transition(all .3s);
  float: right;

  &:hover, &:active {
    background-color: white;
    color: $color_second;
  }

  &:first-child {
    margin-left: 20px;
  }

  @include range-width(0, 450px) {
    width: calc(50% - 20px);
    margin-top: 20px;
    float: none;

    &:first-child {
      float: right;
      margin-left: 0;
    }


  }
}

.link_main {
 display: inline-block;
 padding: .7rem 2rem;
 background-color: $color_main;
 @include transition(all .3s);
 border: 2px solid $color_second;
 font-size: 1.3rem;
 color: white;
 
 &:hover, &:active {
  background-color: $color_second;
 }

 &.lm-mD60 {
  margin-bottom: 60px;
 }

 &.mob-menu {
  font-size: 1.2rem !important;
  padding: 10px 40px !important;
  margin-left: 30px !important;
 }
}

.link_language {
  display: inline-block;
  color: $color_main;
  font-size: 1.1rem;
  margin: 3px 7px 0 7px;
  @include transition(all .3s);
 
  &:hover, &:active {
    color: $color_second;
  }

  &:nth-child(2) {
    &:after {
      display: inline-block;
      content: '';
      width: 1px;
      height: 20px;
      background-color: $color_main;
      margin: 2px 0 0 14px;
    }
  }
}

.link_icon {
  display: inline-block;
  color: $color_main;
  font-size: 1.6rem;
  margin: 3px 7px 0 0 ;
  @include transition(all .3s);

  &:hover, &:active {
    color: $color_second;
  }

  &.l_icon_w {
    color: white;
    margin: 3px 5px;

    &:hover, &:active {
      color: $color_second;
    }
  }
}
.icon-youtube {
  font-size: 1.8rem;
  margin: 3px 10px 0 10px !important;
}

.link_work {
  display: inline-block;
  color: white;
  font-size: 1.3rem;
  @include transition(all .3s);

  &:hover, &:active {
    text-decoration: underline;
  }

  &:before {
    display: inline-block;
    content: '\e90c';
    font-family: icon;
    margin-right: 5px;
    margin-top: 2px;
  }

  // @include range-width(760px, 1100px) {
  //   font-size: 1.2rem;
  // }
}

.link_news {
  display: inline-block;
  color: $color_dG;
  font-size: 1.1rem;
  @include transition(all .3s);
  padding: 10px 0;

  &:hover, &:active {
    color: $color_second;
  }

  &:before {
    display: inline-block;
    content: '\e90c';
    font-family: icon;
    margin-right: 3px;
    margin-top: 2px;
  }

  &.page-l-n {
    margin-right: 10px;
  }
}

// new page
.link_new_list {
  display: block;
  font-size: 1.2rem;
  color: $color_main;
  @include transition(all .3s);
  line-height: 30px;
  
  &:hover, &:active {
    color: $color_second;
  }

  &.n-list-all {
    color: $color_second;
  }

  &:after {
    display: inline-block;
    content: attr(title);
    margin-left: 5px;
  }
}

// 首頁最新消息
.link_16_main {
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  color: $color_main;
  @include transition(all .3s);
  padding: 6px 0;
  text-align: left;

  &:hover, &:active {
    color: $color_second;
  }

  &:before {
    display: inline-block;
    content: attr(title);
    font-size: 1.2rem;
    color: $color_main;
  }
}

// 內頁・故事・列表
.link_18_main {
  display: inline-block;
  width: 100%;
  font-size: 1.3rem;
  color: $color_main;
  @include transition(all .3s);
  padding: 6px 0;

  &:hover, &:active {
    color: $color_second;
  }

  &:before {
    display: inline-block;
    content: attr(title);
    font-size: 1.2rem;
    color: $color_main;
  }
}

.link_20_main {
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
  color: $color_main;
  @include transition(all .3s);
  padding: 6px 0;
  text-align: left;

  &:hover, &:active {
    color: $color_second;
  }

  &:before {
    display: inline-block;
    content: attr(title);
    font-size: 1.2rem;
    color: $color_main;
  }
}

.link_out_line {
 display: inline-block;
 padding: .7rem 2rem;
 margin-top: 40px;
 color: $color_main;
 border: 2px solid $color_main;
 font-size: 1.3rem;
 @include transition(all .3s);
 background-color: white;
 
 &:hover, &:active {
  background-color: $color_second;
  color: white;
  border: 2px solid $color_second;
 }
}

.t_link_out_line {
 display: inline-block;
 padding: .7rem 2rem;
 margin-top: 40px;
 color: white;
 border: 2px solid $color_second;
 font-size: 1.3rem;
 @include transition(all .3s);
 background-color: transparent;
 
 &:hover, &:active {
  background-color: $color_second;
  color: white;
  border: 2px solid $color_second;
 }
}

.link_arrow {
  display: inline-block;
  color: $color_line_text;
  font-size: 1.4rem;
  text-transform: none;
  @include transition(all .3s);
  font-weight: 300;
  
  &:hover, &:active {
    color: $color_main;
  }

  &:after {
    display: inline-block;
    content: '\e905';
    font-family: icon;
    margin-top: 2px;
  }

  &.other_mark {
    &:after {
      display: none;
    }

    &:before {
      display: inline-block;
      content: '\e904';
      font-family: icon;
      margin-top: 2px;
    }
  }
}

.pop_cover {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  padding: 25px;

  @include transition(all .3s);
  @include clearfix();
  

  .test {
    display: none;
    width: 100%;
    padding-top: 20%;
    color: $color_main;
    font-size: 3rem;
    font-weight: 700;
    @include transition(all .3s);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);

    .test {
      display: inline-block;
    }
  }
}

.a_bread {
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  color: $color_dG;
  font-weight: 300;
  text-transform: none;
  @include transition(all .3s);
  text-align: left;
  
  &:hover, &:active {
    color: $color_second;
  }
}

.bread_share {
  display: inline-block;
  color: $color_main;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 26px;

  &:before {
    display: inline-block;
    content: '\ea90';
    font-family: 'icon';
    margin-top: -1px;
    margin-right: 3px;
  }
}

.a_text20_dG {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: $color_dG;
  @include transition(all .3s);
  padding-top: 10px;

  &:hover, &:active {
    color: $color_second;
  }

  // @include range-width(760px, 1100px) {
  //   font-size: 1.3rem;
  // }
}

.a_text14_lG_full {
  display: inline-block;
  font-size: 1.1rem;
  color: $color_lG100;
  text-decoration: none;
  cursor: pointer;
  @include transition(all .3s);
  line-height: 1.9rem;

  &:hover, &:active {
    color: $color_second;
  }

  &:nth-child(2) {
    margin-left: 20px;
  }
}

.a_text14_w {
  display: inline-block;
  width: 100%;
  font-size: 1.1rem;
  color: white;

  text-decoration: none;
  cursor: pointer;
  @include transition(all .3s);

  &:hover, &:active {
    color: $color_second;
  }
}


.link18_o {
  display: inline-block;
  font-size: 1.3rem;
  color: rgba(245, 166, 35, 1.00);
  text-decoration: none;
  @include transition(all .3s);

  &:hover {
    text-decoration: underline;
  }
}

.table_step {
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  color: $color_line_text;
  
  @include border-radius(25px);

  &:after {
    display: block;
    content: '';
    width: 25px;
    height: 25px;
    @include border-radius(25px);
    background-color: $color_line_text;
    margin: 0 atuo;
  }
}



