@import "Ginkgo";
@import "color";
@import "text";

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}

button {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: transparent;
}


.header_logo {
  display: inline-block;
  width: 100%;
  max-width: 274px;

  @include range-width(0, 450px) {
    max-width: 220px;
  }
}

.btn_search {
  display: inline-block;
  color: $color_light_p;
  font-size: 1.6rem;
  @include transition(all .3s);
  
  &:hover, &:active {
    color: white;
  }
}

.link_main {
 display: inline-block;
 padding: .7rem 2rem;
 background-color: $color_main;
 @include transition(all .3s);
 border: 2px solid $color_second;
 font-size: 1.3rem;
 color: white;
 
 &:hover, &:active {
  background-color: $color_second;
 }

 &.lm-mD60 {
  margin-bottom: 60px;
 }
}

.link_language {
  display: inline-block;
  color: $color_main;
  font-size: 1.1rem;
  margin: 3px 7px 0 7px;
  @include transition(all .3s);
 
  &:hover, &:active {
    color: $color_second;
  }

  &:nth-child(2) {
    &:after {
      display: inline-block;
      content: '';
      width: 1px;
      height: 20px;
      background-color: $color_main;
      margin: 2px 0 0 14px;
    }
  }
}

.link_icon {
  display: inline-block;
  color: $color_main;
  font-size: 1.6rem;
  margin: 3px 7px 0 0 ;
  @include transition(all .3s);

  &:hover, &:active {
    color: $color_second;
  }

  &.l_icon_w {
    color: white;
    margin: 3px 5px;

    &:hover, &:active {
      color: $color_second;
    }
  }
}
.icon-youtube {
  font-size: 1.8rem;
  margin: 3px 10px 0 10px !important;
}

.link_work {
  display: inline-block;
  color: white;
  font-size: 1.3rem;
  @include transition(all .3s);

  &:hover, &:active {
    text-decoration: underline;
  }

  &:before {
    display: inline-block;
    content: '\e90c';
    font-family: icon;
    margin-right: 5px;
    margin-top: 2px;
  }

  // @include range-width(760px, 1100px) {
  //   font-size: 1.2rem;
  // }
}

.link_news {
  display: inline-block;
  color: $color_dG;
  font-size: 1.1rem;
  @include transition(all .3s);
  padding: 10px 0;

  &:hover, &:active {
    color: $color_second;
  }

  &:before {
    display: inline-block;
    content: '\e90c';
    font-family: icon;
    margin-right: 3px;
    margin-top: 2px;
  }
}

.link_16_main {
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  color: $color_main;
  @include transition(all .3s);

  &:hover, &:active {
    color: $color_second;
  }

  &:before {
    display: inline-block;
    content: attr(title);
    font-size: 1.2rem;
    color: $color_main;
  }
}

.link_out_line {
 display: inline-block;
 padding: .7rem 2rem;
 margin-top: 40px;
 color: $color_main;
 border: 2px solid $color_main;
 font-size: 1.3rem;
 @include transition(all .3s);
 
 &:hover, &:active {
  background-color: $color_second;
  color: white;
  border: 2px solid $color_second;
 }
}

.pop_cover {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  padding: 25px;

  @include transition(all .3s);
  @include clearfix();
  

  .test {
    display: none;
    width: 100%;
    padding-top: 20%;
    color: $color_main;
    font-size: 3rem;
    font-weight: 700;
    @include transition(all .3s);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);

    .test {
      display: inline-block;
    }
  }
}


.a_text20_dG {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: $color_dG;
  @include transition(all .3s);
  padding-top: 10px;

  &:hover, &:active {
    color: $color_second;
  }

  // @include range-width(760px, 1100px) {
  //   font-size: 1.3rem;
  // }
}

.a_text14_lG_full {
  display: inline-block;
  font-size: 1.1rem;
  color: $color_lG100;
  text-decoration: none;
  cursor: pointer;
  @include transition(all .3s);
  line-height: 1.9rem;

  &:hover, &:active {
    color: $color_second;
  }

  &:nth-child(2) {
    margin-left: 20px;
  }
}

.a_text14_w {
  display: inline-block;
  width: 100%;
  font-size: 1.1rem;
  color: white;

  text-decoration: none;
  cursor: pointer;
  @include transition(all .3s);

  &:hover, &:active {
    color: $color_second;
  }
}







