@import "Ginkgo";
@import "color";

input {
  border:0 none;
  outline: 0;
  background-color: transparent;
}


.i_mg_a_icon {
  display: inline-block;
  width: 100%;
  max-width: 180px;
  padding: 50px 0;

  @include range-width(0, 450px) {
    width: 50%;
    float: left;
  }
}

.i_img_work {
  display: inline-block;
  width: 100%;
  max-width: 553px;
}

.i_img_new {
  display: inline-block;
  width: 100%;
  // max-width: 230px;
  min-height: 180px;
  position: relative;

  &:before {
    display: inline-block;
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: -11px;
    background-color: $color_main;
    color: white;
    font-size: 1rem;
    padding: 5px 10px;
  }
}

.i_img_s {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  min-height: 230px;
}










.border_TD {
  border-top: 1px solid $color_line;
  border-bottom: 1px solid $color_line;
}

.border_D {
  border-bottom: 1px solid $color_line;
}

.border_D_p {
  border-bottom: 1px solid $color_light_p;
}

.border_T {
  border-top: 1px solid $color_line;
}

.border_T_w {
  border-top: 1px solid white;
}

.i_img_about {
  display: inline-block;
  width: 100%;
  max-width: 550px;
}

.i_img_work {
  display: inline-block;
  width: 100%;
  max-width: 553px;
}



.i_img_footer {
  display: inline-block;
  width: 100%;
  max-width: 260px;
}

.in_serch {
  display: inline-block;
  width: 60%;
  padding: 0 15px 5px 10px;
  cursor:pointer;
  outline: 0;
  color: white;
  font-size: 1.2rem;
  font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;

  &::placeholder {
    color: $color_light_p;
  }
}




