@import "Ginkgo";
@import "color";

input, textarea {
  border:0 none;
  outline: 0;
  background-color: transparent;
}

.table_input {
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  padding: 10px 0;

  &::placeholder {
    color: $color_light_p;
  }
}

.table_note {
  display: inline-block;
  width: 100%;
  background-color: $color_light_p;
  border: 1px solid $color_line; 
  margin: 10px 0;
  padding: 10px;
  color: white;
  font-size: 1.5rem;
  font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

.img_common {
  display: inline-block;
  width: 100%;
}

.img_table {
  display: inline-block;
  width: 100%;
  max-width: 650px;
}

.i_mg_a_icon {
  display: inline-block;
  width: 100%;
  max-width: 180px;
  padding: 50px 0;

  @include range-width(0, 450px) {
    float: left;
    padding: 0 0 50px 0;
    max-width: 140px;
  }
}

.i_img_work {
  display: inline-block;
  width: 100%;
  max-width: 553px;
}

.i_img_new {
  display: inline-block;
  width: 100%;
  // max-width: 230px;
  min-height: 180px;
  position: relative;

  &:before {
    display: inline-block;
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: -11px;
    background-color: $color_main;
    color: white;
    font-size: 1rem;
    padding: 5px 10px;
  }

  &.p_img_new {
    min-height: 250px;
  }
}

.i_img_s {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  min-height: 230px;
}

.p_img_s {
  display: inline-block;
  width: 100%;
  max-width: 513px;
  height: 290px;

  @include range-width(0, 450px) {
    height: 183px;
  }
}

.p_i_h360 {
  display: inline-block;
  width: 100%;
  height: 360px;
}

.img_about_pic {
  display: inline-block;
  width: 100%;
  max-width: 345px;
  height: 370px;
  float: left;
  margin-bottom: 30px;
}



.border_TD {
  border-top: 1px solid $color_line;
  border-bottom: 1px solid $color_line;
}

.border_D {
  border-bottom: 1px solid $color_line;
}

.border_D_p {
  border-bottom: 1px solid $color_light_p;
}

.border_A_g {
  border: 1px solid $color_lG100 !important;
}

.border_T {
  border-top: 1px solid $color_line;
}

.border_T_w {
  border-top: 1px solid white;
}

.i_img_about {
  display: inline-block;
  width: 100%;
  max-width: 550px;
}

.i_img_work {
  display: inline-block;
  width: 100%;
  max-width: 553px;
}

.i_img_footer {
  display: inline-block;
  width: 100%;
  max-width: 260px;
}

.img_d_pic {
  display: inline-block;
  width: 100%;
  padding: 60px 0;

  @include range-width(0, 450px) {
    padding: 35px 0;
  }
}

.img_legacy {
  display: inline-block;
  width: 100%;
  max-width: 915px;
  margin: 100px 0 40px 0;

  @include range-width(0, 450px) {
    margin-top: 0;
  }
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%;
  margin: 60px 0;

  &.member_share {
    margin: 0 0 20px 0;
  }

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
  }

  @include range-width(0, 450px) {
    margin: 35px 0;
  }
} 


.in_serch {
  display: inline-block;
  width: 60%;
  padding: 0 15px 5px 10px;
  cursor:pointer;
  outline: 0;
  color: white;
  font-size: 1.2rem;
  font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;

  &::placeholder {
    color: $color_light_p;
  }
}

.new_serch {
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  cursor:pointer;
  outline: 0;
  color: $color_dG;
  font-size: 1.2rem;
  font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  text-align: left;

  &::placeholder {
    color: $color_lG100;
  }
}


select { 
  display: inline-block;
  border: 1px solid $color_line;
  /*適應safari瀏覽器內容不跑偏*/
  line-height: 1;
  width: 90%;
  /*將預設的select選擇框樣式清除*/  
  appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;  
  /*在選擇框的最右側中間顯示小箭頭圖片*/  
  background: url("../img/se_arrow.png") no-repeat scroll right center transparent;
  background-size: 46px 40px;
  /*為下拉小箭頭留出一點位置,避免被文字覆蓋*/  
  padding-right: 14px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: $color_dG;
  /*去除選中時樣式*/
  outline: none;
  margin-bottom: 35px;
}


.page {
  display: inline-block;
  width: 100%;
  padding-top: 60px;

  .arrow_box {
    display: inline-block;
    font-size: 1.6rem;
    color: $color_dG;
    width: 30px;
    height: 30px;
    @include transition(all .3s);

    &:hover, &:active {
      color: $color_second;
    }
  }
}

// 手風琴
#accordion {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-bottom: 80px;

  @include range-width(0, 450px) {
    margin-bottom: 40px;
  }

  .p_page {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    @include transition(height .3s);
    
    + .p_page {
      margin-top: 10px;
    }

    .fq_title {
      display: inline-block;
      width: 100%;
      padding: 0 100px;
      margin-bottom: 5px;
      cursor: pointer;
      font-size: 1.4rem;
      color: $color_main;
      cursor: auto; 
      font-weight: 900;

      @include range-width(0, 450px) {
        padding: 0;
      }
    }

    > span {
      display: inline-block;
      width: 100%;
      padding: 10px 100px;
      margin-bottom: 5px;
      cursor: pointer;
      font-size: 1.4rem;
      color: $color_main;
      @include transition(all .3s);
      
      &:hover, &:active {
        background-color: $color_second2;
      }

      @include range-width(0, 450px) {
        padding: 10px;
      }
    }

    > div {
      display: inline-block;
      width: 100%;
      padding: 10px 100px;
      font-size: 1.2rem;
      color: $color_dG;
      line-height: 2rem;
      font-weight: 300;

      @include range-width(0, 450px) {
        padding: 10px;
      }
    }
  }
}


label {
  padding: 0;
  cursor: pointer;
}

input[type=checkbox] {
  display: none;

  + span {
    display: inline-block;
    padding-left: 26px;
    line-height: 25px;
    background: url(../img/cbx-off.svg) no-repeat;
    user-select: none;
    text-indent:-9999px; 
  }

  &:checked + span {
    background: url(../img/cbx-on.svg) no-repeat;
  }
}








