@import "Ginkgo";
@import "color";

input, textarea {
  border:0 none;
  outline: 0;
  background-color: transparent;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari 和 Chrome */
}

.a_team_pic {
  display: inline-block;
  width: 100%;
  max-width: 1105px;
  margin-bottom: 60px;

  @include range-width(0, 450px) {
    max-width: 200px;
    margin-bottom: 30px;
  }
}

.table_border {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: $color_second;
  margin: 60px 0 43px 0;
}

.table_input {
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 1.23rem;
  padding: 10px 0;

  &::placeholder {
    color: $color_light_p;
  }
}

.table_input2 {
  display: inline-block;
  // width: 100%;
  color: white;
  font-size: 1.23rem;
  padding: 0 0 10px 0;
  margin-left: 15px;
  border-bottom: 1px solid $color_light_p;

  &::placeholder {
    color: $color_light_p;
  }
}

.table_note {
  display: inline-block;
  width: 100%;
  background-color: $color_light_p;
  border: 1px solid $color_line; 
  margin: 10px 0;
  padding: 10px;
  color: white;
  font-size: 1.5rem;
  font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

.img_common {
  display: inline-block;
  width: 100%;
}

.img_table {
  display: inline-block;
  width: 100%;
  max-width: 650px;
}

.img_run {
  display: inline-block;
  width: 100%;
  max-width: 655px;
}

.i_mg_a_icon {
  display: inline-block;
  width: 100%;
  max-width: 180px;
  padding: 50px 0;

  @include range-width(0, 450px) {
    float: left;
    padding: 0 0 50px 0;
    max-width: 140px;
  }
}

.i_img_work {
  display: inline-block;
  width: 100%;
  max-width: 553px;
}

// news pic link
.tag_boxs {
  display: inline-block;
  width: 100%;
  position: relative;

  .i_img_new {
    display: inline-block;
    width: 100%;
    // max-width: 240px;
    max-width: 345px;
    // min-height: 180px;

    &.new_d {
      height: 248px;
      overflow: hidden;
    }

    &.new_d2 {
      height: 181px;
      overflow: hidden;
    }

    @include range-width(0, 450px) {
      max-width: 375px;
    }

    &.p_img_new {
      min-height: 250px;
    }
  }

  &:before {
    display: inline-block;
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: -11px;
    background-color: $color_main;
    color: white;
    font-size: 1rem;
    padding: 5px 10px;
    z-index: 8888;
  }
}

.i_img_s {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  min-height: 230px;
}

.p_img_s {
  display: inline-block;
  width: 100%;
  max-width: 513px;
  height: 290px;

  @include range-width(0, 450px) {
    height: 183px;
  }
}

.p_i_h360 {
  display: inline-block;
  width: 100%;
  height: 360px;
}

.img_about_pic {
  display: inline-block;
  width: 100%;
  max-width: 345px;
  height: 370px;
  float: left;
  margin-bottom: 30px;
}



.border_TD {
  border-top: 1px solid $color_line2;
  border-bottom: 1px solid $color_line2;
}

.border_D {
  border-bottom: 1px solid $color_line2;
}

.border_D_p {
  border-bottom: 1px solid $color_light_p;
}

.border_A_g {
  border: 1px solid $color_lG100 !important;
}

.border_T {
  border-top: 1px solid $color_line2;
}

.border_T_w {
  border-top: 1px solid white;
}

.i_img_about {
  display: inline-block;
  width: 100%;
  max-width: 550px;
}

.i_img_work {
  display: inline-block;
  width: 100%;
  max-width: 553px;
}

.i_img_footer {
  display: inline-block;
  width: 100%;
  max-width: 260px;
}

.img_d_pic {
  display: inline-block;
  width: 100%;
  padding: 60px 0;

  @include range-width(0, 450px) {
    padding: 35px 0;
  }
}

.img_legacy {
  display: inline-block;
  width: 100%;
  max-width: 915px;
  margin: 100px 0 40px 0;

  @include range-width(0, 450px) {
    margin-top: 0;
  }
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%;
  margin: 60px 0;

  &.member_share {
    margin: 0 0 20px 0;
  }

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
  }

  @include range-width(0, 450px) {
    margin: 35px 0;
  }
} 


.in_serch {
  display: inline-block;
  width: 60%;
  padding: 0 15px 5px 10px;
  cursor:pointer;
  outline: 0;
  color: white;
  font-size: 1.2rem;
  font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;

  &::placeholder {
    color: $color_light_p;
  }
}

.new_serch {
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  cursor:pointer;
  outline: 0;
  color: $color_dG;
  font-size: 1.2rem;
  font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  text-align: left;

  &::placeholder {
    color: $color_lG100;
  }
}


select { 
  display: inline-block;
  border: 1px solid $color_line;
  /*適應safari瀏覽器內容不跑偏*/
  line-height: 1;
  width: 90%;
  /*將預設的select選擇框樣式清除*/  
  appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;  
  /*在選擇框的最右側中間顯示小箭頭圖片*/  
  background: url("../img/se_arrow.png") no-repeat scroll right center transparent;
  background-size: 46px 40px;
  /*為下拉小箭頭留出一點位置,避免被文字覆蓋*/  
  padding-right: 14px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: $color_dG;
  /*去除選中時樣式*/
  outline: none;
  margin-bottom: 35px;
}


.page {
  display: inline-block;
  width: 100%;
  padding-top: 60px;

  .arrow_box {
    display: inline-block;
    font-size: 1.6rem;
    color: $color_dG;
    width: 30px;
    height: 30px;
    @include transition(all .3s);

    &:hover, &:active {
      color: $color_second;
    }
  }
}

// 手風琴
#accordion {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-bottom: 80px;

  @include range-width(0, 450px) {
    margin-bottom: 40px;
  }

  .p_page {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    @include transition(height .3s);
    
    + .p_page {
      margin-top: 10px;
    }

    .fq_title {
      display: inline-block;
      width: 100%;
      padding: 0 100px;
      margin-bottom: 5px;
      cursor: pointer;
      font-size: 1.4rem;
      color: $color_main;
      cursor: auto; 
      font-weight: 900;

      @include range-width(0, 450px) {
        padding: 0;
      }
    }

    > span {
      display: inline-block;
      width: 100%;
      padding: 10px 100px;
      margin-bottom: 5px;
      cursor: pointer;
      font-size: 1.4rem;
      color: $color_main;
      @include transition(all .3s);
      
      &:hover, &:active {
        background-color: $color_second2;
      }

      @include range-width(0, 450px) {
        padding: 10px;
      }
    }

    > div {
      display: inline-block;
      width: 100%;
      padding: 10px 100px;
      font-size: 1.4rem;
      color: $color_dG;
      line-height: 2.1rem;
      // font-weight: 300;

      @include range-width(0, 450px) {
        padding: 10px;
      }
    }
  }
}


label {
  padding: 0;
  cursor: pointer;
}

input[type=checkbox] {
  display: none;

  + span {
    display: inline-block;
    padding-left: 26px;
    line-height: 25px;
    background: url(../img/cbx-off.svg) no-repeat;
    user-select: none;
    text-indent:-9999px; 
  }

  &:checked + span {
    background: url(../img/cbx-on.svg) no-repeat;
  }
}



.curator-group {
  display: inline-block;
  margin-right: 15px;
  float: left;

  input[type=checkbox] {
    display: none;

    + span {
      display: inline-block;
      padding-left: 30px;
      line-height: 35px;
      background: url(../img/coff.svg) no-repeat;
      user-select: none;
      text-indent:-9999px; 
    }

    &:checked + span {
      background: url(../img/con.svg) no-repeat;
    }
  }
}

.radio-group {
  width: 120px;
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 15px;
  float: left;
}

.radio-input {
  visibility: hidden;
  /* 把原本的input藏起來 */
}

.radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem;
  float: left;
  margin-top: 10px;
}

.radio-button {
  /* 自定義樣式的span */
  height: 40px;
  width: 120px;
  // padding: 0 20px;
  border: 1px solid $color_second;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  color: white;
  line-height: 40px;

  &:after {
    /* 中間點點 */
    content: attr(title);
    display: block;
    height: 40px;
    width: 120px;
    // padding: 0 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0;
    transition: opacity 0.2s;
    color: $color_second;
    font-size: 1.2rem;
    line-height: 40px;
  }
}

.radio-input:checked ~ .radio-label .radio-button::after {
  /* 選中radio時 才顯示中間點點 */
  opacity: 1;
}


.c_input_boxs {
  display: inline-block;
  width: 100%;
}

.c_input {
  display: inline-block;
  width: calc(100% - 20px);
  background-color: rgba(234, 230, 238, 1.00);
  padding: 10px;
  font-size: 1.5rem;
  margin-left: 20px;
  border: 0 !important;
  color: $color_light_p;
  margin-top: 15px;

  @include range-width(0, 450px) {
    margin-bottom: 0;
  }
}

.fileInput{
  opacity: 0;
  display: block;
  width: 100%;
  height: 200px;
  clear: both;
  display: block;
  margin: auto;
  background-color: red;
}


.sIconSize {
  display: inline-block;
  width: 100%;
  max-width: 915px;

  .s_ok {
    display: inline-block;
    width: 100%;
    max-width: 193px;

    &.sPLR {
      max-width: 135px !important;
    }
  }
}




