@import "Ginkgo";

.p-30-50 {
  padding: 2.3rem 0 3.8rem 0;
}

.p-D50 {
  padding-bottom: 3.8rem;
}

.p-T100 {
  padding-top: 7.6rem;
}

.p-T60 {
  padding-top: 4.5rem;
}

.p-TD20 {
  padding: 1.5rem 0;
}

.p-TD30 {
  padding: 2.3rem 0;
}

.p-TD60 {
  padding: 4.5rem 0;
}