@import "Ginkgo";

.for_fix {
  margin-top: 197px !important;
  @include range-width(0, 450px) {
    margin-top: 81px !important;
  }
}

.mob-close {
  display: inline-block  !important;

  @include range-width(0, 450px) {
    display: none !important;
  }
}

.mob-open {
  display: none  !important;

  @include range-width(0, 450px) {
    display: inline-block  !important;
  }
}

.new_height {
  min-height: 65px;
}

.l-16-hid {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.order_left {
  float: left;
}

.m_order_left {
  @include range-width(0, 450px) {
    float: left;
  }
}

.order_right {
  float: right;
}

.ds {
  display: inline-block;
}

.db {
  display: block;
}

.p-30-50 {
  padding: 2.3rem 0 3.8rem 0;
}

.p-60 {
  padding: 4.5rem;

  // @include range-width(760px, 1100px) {
  //   padding: 1.5rem;
  // }

  // @include range-width(0, 450px) {
  //   padding: 1.5rem 0;
  // }
}

.p-L20 {
  padding-left: 1.5rem;
}

.p-L65 {
  padding-left: 5rem;
}

.p-R20 {
  padding-right: 1.5rem;
}

.p-R40 {
  padding-right: 3rem;

  // @include range-width(760px, 1100px) {
  //   padding-right: 2rem;
  // }
}

.p-LR100 {
  padding: 0 9rem 9rem 9rem;

  @include range-width(0, 450px) {
    padding: 0 0 2rem 0;
  }
}

.p-LR100-2 {
  padding: 0 9rem;

  @include range-width(0, 450px) {
    padding: 0 0 2rem 0;
  }
}

.pp_TD {
  padding-top: 3rem;
  padding-bottom: 4.5rem;
}

.p-D50 {
  padding-bottom: 3.8rem;
}

.p-D10 {
  padding-bottom: .8rem;
}

.p-D60 {
  padding-bottom: 4.5rem;
}

.p-D30 {
  padding-bottom: 2.3rem;
}

.p-D20 {
  padding-bottom: 1.5rem;
}

.p-D40 {
  padding-bottom: 3rem;
}

// 自制力
.p-D100 {
  padding-bottom: 7.6rem;
}

// table
.p-T100 {
  padding-top: 7.6rem;

  @include range-width(0, 450px) {
    padding-top: 4.6rem;
  }
}

.p-T40 {
  padding-top: 4.5rem;
}

.p-T60 {
  padding-top: 4.5rem;

  // @include range-width(760px, 1100px) {
  //   padding-top: 2.5rem;
  // }
}

.p-T35 {
  padding-top: 2.6rem;
}

.p-T30 {
  padding-top: 2.3rem;
}

// news_d date
.p-T20 {
  padding-top: 1.5rem;
}

.p-T20-c {
  padding-top: 1rem;

  // @include range-width(760px, 1100px) {
  //   padding-top:0;
  // }

  // @include range-width(0, 450px) {
  //   padding-top: 0; 
  // }
}

.p-T10 {
  padding-top: .8rem;
}

.p-T20 {
  padding-top: 1.5rem;
}

// 最新消息・麵包
.p-TD20 {
  padding: 1.5rem 0;
}

.p-TD6 {
  padding: .5rem 0;
}

// 內頁news
.p-TD30 {
  padding: 2.3rem 0;

  // @include range-width(760px, 1100px) {
  //   padding: 1.5rem 0;
  // }
}

.p-TD60 {
  padding: 4.5rem 0;

  @include range-width(0, 450px) {
    padding: 3rem 0;
  }
}


.m-T60 {
  margin-top: 4.5rem !important;
}

.m-T30 {
  margin-top: 2.3rem;

  // @include range-width(760px, 1100px) {
  //   margin-top: 1.8rem;
  // }
}

.m-D10 {
  margin-bottom: .8rem;
}

.m-T10 {
  margin-top: .8rem;
}

// index btn 距離
.m-R60 {
  margin-right: 4.6rem;

  @include range-width(0, 450px) {
    margin-right: 0;
    // margin-bottom: 2.6rem;
  }
}

// fa mobile
.m-D20 {
  margin-bottom: 1.5rem;
}

// 內頁news
.m-D60 {
  margin-bottom: 4.5rem;
}

// 內頁news
.m-D35 {
  margin-bottom: 2.6rem;
}

// 自制力
.m-TD100 {
  margin-top: 7.6rem;
  margin-bottom: 7.6rem;

  @include range-width(0, 450px) {
    margin-top: 0;
  }
}

.m-TD60 {
  margin: 4.5rem 0;
}

.m-TD30 {
  margin: 2.3rem 0;

  @include range-width(0, 450px) {
    margin-top: 1.6rem;
  }
}


// 故事列表頁，引言
.m-TD80 {
  margin: 6rem 0;

  @include range-width(0, 450px) {
    margin: 2rem .5rem;
  }
} 

.i-a-LD {
  padding: 0 9rem 9rem 0;

  // @include range-width(760px, 1100px) {
  //   padding: 0 3rem 4rem 0;
  // }
}

.m_mT30 {
  @include range-width(0, 450px) {
    margin-top: 30px;
  }  
}

.m_r30 {
  margin-right: 30px;
}


// .mob-p-T6 {
//   @include range-width(760px, 1100px) {
//     padding-top: 6px !important;
//   }
// }






