@import "Ginkgo";
@import "color";

p {
  padding: 0;
  margin: 0;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

// 中文 100;400;700;900
.t_w_1 {font-weight: 100;}
.t_w_4 {font-weight: 400;}
.t_w_7 {font-weight: 700;}
.t_w_9 {font-weight: 900;}


// 行距
.l_40 {
  line-height: 3rem;
  
  @include range-width(0, 450px) {
    line-height: 2.3rem;
  }
}
.l_30 {line-height: 2.3rem;}
.l_20 {line-height: 1.5rem;}
.l_24 {line-height: 1.9rem;}



.page_banner_title {
  display: inline-block;
  font-size: 2.6rem;
  color: white;
  // font-weight: 400;
  padding-left: 65px;
  float: left;
  text-align: left;
  position: absolute;
  bottom: 50px;
  left: 0;

  @include range-width(0, 450px) {
    font-size: 2.6rem;
    bottom: 30px;
    padding-left: 30px;
  }

  &:after {
    display: block;
    content: attr(title);
    font-size: 1.6rem;
    font-family: 'Roboto';
    // margin-top: 5px;
    // font-weight: 400;

    @include range-width(0, 450px) {
      font-size: 1.6rem;
    }
  }
}

.page_banner_title2 {
  display: inline-block;
  font-size: 2.6rem;
  color: white;
  // font-weight: 400;
  float: left;
  text-align: left;
  padding-top: 250px;

  @include range-width(0, 450px) {
    font-size: 2.6rem;
    bottom: 30px;
    padding-left: 30px;
  }

  &:after {
    display: block;
    content: attr(title);
    font-size: 1.6rem;
    font-family: 'Roboto';
    margin-top: 5px;
    // font-weight: 400;

    @include range-width(0, 450px) {
      font-size: 1.6rem;
    }
  }
}



.slogan_title {
  display: inline-block;
  width: 100%;
  font-size: 2.2rem;
  color: $color_main;

  &.s-t-2 {
    color: $color_second;
  }

  &.s-t-3 {
    font-size: 1.6rem;
  }

  @include range-width(0, 450px) {
    // font-size: 1.6rem;
    // 因為首頁slogan修改
    font-size: 2rem;
  }

  &.c_s_blue {color: $color_blue;}
  &.c_s_red {color: $color_red;}
  &.c_s_yellow {color: $color_yellow;}
}

.slogan_text {
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
  color: $color_dG;
  padding-top: 40px;
  line-height: 34px;

  &.s-t-pD60 {
    padding-bottom: 60px;
  }

  @include range-width(0, 450px) {
    padding-bottom: 60px;
    text-align: left;

    &.m-s-t-l {
      text-align: center;
    }
  }
}



.cent_text18_rd {
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
  color: $color_dG;
  line-height: 34px;
  padding: 0 130px 130px 0;
  text-align: left;

  @include range-width(760px, 1100px) {
    padding: 0 60px 60px 0;
  }

  @include range-width(0, 450px) {
    padding: 60px 0;
  }
}
.cent_text18_w {
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  line-height: 34px;
}


.i_text16_dG {
  display: inline-block;
  font-size: 1.1rem;
  color: $color_dG;
  line-height: 30px;
}


.i_text20_main {
  font-size: 1.8rem;
  color: $color_main;
  font-weight: 700;
  margin-bottom: 60px;

  &:after {
    display: inline-block;
    width: 100%;
    content: attr(title);
    font-size: 1.4rem;
    color: $color_main;
    font-weight: 400;
    margin-top: 5px;
    letter-spacing: 0 !important;
  }

  &.h-m-T100 {
    margin-top: 100px;

    @include range-width(0, 450px) {
      margin-top: 50px;
    }
  }

  &.h-s-T40 {
    padding-top: 40px;
  }

  @include range-width(0, 450px) {
    margin-bottom: 40px;
  }
}

.n_text20_main {
  font-size: 1.5rem;
  color: $color_main;
  margin-bottom: 20px;
  text-align: left;

  @include range-width(0, 450px) {
    margin-bottom: 10px;
  }
}


.a_text16_dG {
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  color: $color_dG;
  float: left;

   @include range-width(0, 450px) {
    width: 90%
  }
}


.a_text20_main {
  width: 100%;
  font-size: 1.5rem;
  color: $color_main;
  margin-bottom: 10px;
  float: left;

  &.a_p_intro {
    padding: 100px 0;

    @include range-width(0, 450px) {
      width: 100% !important;
      padding: 50px 0;
    }
  }

  @include range-width(0, 450px) {
    margin-bottom: 5px;
    width: 90%;

    &.a_add_right {
      width: 100% !important;
      // text-align: right !important;
      padding: 50px 0 !important;
    }
  }
}

.a_text16_lT {
  font-size: 1.2rem;
  color: $color_dG;
  text-align: left;
  margin-bottom: 10px;
  // font-weight: 300;
  line-height: 2.4rem;

  &:before {
    display: inline-block;
    content: attr(title);
    font-size: 1.2rem;
    color: $color_line_text;
  }
}

.n_text14_lT {
  font-size: 1.1rem;
  color: $color_dG;
  text-align: left;
  margin-bottom: 10px;
  // font-weight: 300;
  line-height: 2.4rem;

  &:before {
    display: inline-block;
    content: attr(title);
    font-size: 1.2rem;
    color: $color_line_text;
  }
}

.n_text20_lT {
  font-size: 1.5rem;
  color: $color_line_text;
  text-align: left;
  margin-bottom: 10px;
  // font-weight: 300;
  line-height: 2.5rem;

  &:before {
    display: inline-block;
    content: attr(title);
    font-size: 1.2rem;
    color: $color_line_text;
  }
}

.i_text70_main {
  font-size: 5.3rem;
  color: $color_main;
  font-weight: 700;
  position: relative;

  &:after {
    display: inline-block;
    content: attr(title);
    font-size: 1.8rem;
    color: $color_main;
    margin-left: 5px;
    position: absolute;
    bottom: 12px;
  }

  @include range-width(0, 450px) {
    float: left;
    font-size: 3rem;
    text-align: left;

    &:after {
      font-size: 1.2rem;
    }
  }
}


.tag14 {
  display: inline-block;
  background-color: $color_main;
  color: white;
  font-size: 1rem;
  padding: 5px 20px;
}

.tag12 {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  color: $color_dG;
  padding-top: 20px;
  text-align: left;
}


.f_text16_w {
  display: inline-block;
  font-size: 1.2rem;
  color: white;
  padding-bottom: 20px;
}

.f_text14_lG_full {
  display: inline-block;
  font-size: 1rem;
  color: $color_lG100;
  line-height: 30px;
}



// 12pt
.text12_w {
  font-size: .8rem;
  color: white;
}

.text12_dG {
  font-size: .8rem;
  color: $color_dG;
}


// 14pt 首頁icon字用
.text14_dG {
  font-size: 1.2rem;
  color: $color_dG;

  @include range-width(0, 450px) {
    text-align: left;
  }
}

.text14_second {
  font-size: 1.1rem;
  color: $color_second;
}

.text14_w {
  font-size: 1.1rem;
  color: white;
}

.text14_lG_full {
  font-size: 1.1rem;
  color: $color_lG100;
}


// 16pt
.text16_l_p {
  font-size: 1.2rem;
  color: $color_light_p;
}

.text16_lT {
  font-size: 1.2rem;
  color: $color_line_text;
}

.text16_dG {
  font-size: 1.2rem;
  color: $color_dG;
}

.text16_w {
  font-size: 1.2rem;
  color: white;

  @include range-width(0, 450px) {
    font-size: 1rem;
  }
}

.text16_main {
  font-size: 1.2rem;
  color: $color_main;
}

.text16_second {
  font-size: 1.2rem;
  color: $color_second;
}


// 18pt
// news
.text18_dG {
  font-size: 1.5rem;
  color: $color_dG;
}

// fa
.text18_main {
  font-size: 1.5rem;
  color: $color_main;
}

.text18_w {
  font-size: 1.5rem;
  color: white;

  // @include range-width(760px, 1100px) {
  //   font-size: 1.2rem;
  // }
}


// 20pt
.text20_dG {
  font-size: 1.5rem;
  color: $color_dG;

  // @include range-width(760px, 1100px) {
  //   font-size: 1.3rem;
  // }
}

.text20_w {
  font-size: 1.5rem;
  color: white;
}

.text20_main {
  font-size: 1.5rem;
  color: $color_main;

  &.c_text20_blue {color: $color_blue;}
}

.text20_lT {
  font-size: 1.5rem;
  color: $color_line_text;
}



// 24pt 首頁icon字
.text24_main {
  font-size: 1.8rem;
  color: $color_main;

  @include range-width(0, 450px) {
    display: inline-block;
    float: left;
    font-size: 1.6rem;
  }
}

// 自決力 表單
.text24_white {
  font-size: 1.8rem;
  color: white;

  @include range-width(0, 450px) {
    display: inline-block;
    font-size: 1.6rem;
  }
}


// 26pt
.text26_main {
  font-size: 2rem;
  color: $color_main;
}

.text26_dG {
  font-size: 2rem;
  color: $color_dG;

  // @include range-width(760px, 1100px) {
  //   font-size: 1.8rem;
  // }
}

.text26_w {
  font-size: 2rem;
  color: white;

  // @include range-width(760px, 1100px) {
  //   font-size: 1.6rem;
  // }
}

.f_text28_w {
  font-size: 2.1rem;
  color: white;

  // @include range-width(0, 450px) {
  //   font-size: 1.8rem;
  // }
}


// 30pt
.text30_w {
  font-size: 2.3rem;
  color: white;
}


// 70pt
.text70_main {
  font-size: 5.3rem;
  color: $color_main;

  // @include range-width(760px, 1100px) {
  //   font-size: 4rem;
  // }
}






.table_title {
  display: inline-block;
  width: 100%;
  max-width: 915px;
  font-size: 2rem;
  color: white;
  text-align: left;

  @include range-width(0, 450px) {
    max-width: none;
  }
}

.table_text16 {
  display: inline-block;
  font-size: 1.2rem;
  color: white;
  line-height: 50px;

  @include range-width(0, 450px) {
    font-size: 1.15rem;
    line-height: 20px;
    padding-top: 3px;
  }
}

.table_text26 {
  display: inline-block;
  font-size: 2rem;
  color: white;
  padding-top: 10px;

  @include range-width(0, 450px) {
    font-size: 1.8rem;
  }

  &:before {
    display: inline-block;
    padding-top: 10px;
    line-height: normal;
    content: attr(title);
    font-size: 1.1rem;
    color: white;
    margin-top: -5px;

    @include range-width(0, 450px) {
      font-size: 1rem;
    }
  }
}

.table_text14 {
  display: inline-block;
  width: 100%;
  font-size: 1.1rem;
  color: white;
  line-height: 20px;

  @include range-width(0, 450px) {
    display: none;
  }

  &:before {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    line-height: normal;
    content: attr(title);
    font-size: 1.1rem;
    color: white;

  }
}

.table_text14_m {
  display: none;
  @include range-width(0, 450px) {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    color: white;
    line-height: 20px;
  }
}

.table_se {
  display: inline-block;
  width: 100%;
  max-width: 915px;
  padding-top: 24px;
  font-size: 1.5rem;
  color: $color_lG100;
  text-align: left;
}

.t_in_name {
  display: inline-block;
  // width: 100%;
  font-size: 1.23rem;
  color: white;
  // font-weight: 400;
  text-align: left;
  float: left;
  line-height: 25px;
}

.t_in_day {
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 2rem;
  padding: 10px 0;
  text-align: left;
}

.m-step-type {
  display: inline-block;
  font-size: 1.8rem;
  color: $color_main;
  margin-top: 25px;
}

.t-parent {
  display: inline-block;
  width: 100%;
  color: rgba(247, 175, 39, 1);
  font-size: 1.5rem;
  text-align: left;
  margin-top: 10px;
}










