*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

p { padding: 0; margin: 0; }

.text_left { text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .text_left.mob-t-c { text-align: center; } }

.text_right { text-align: right; }

.t_w_1 { font-weight: 100; }

.t_w_4 { font-weight: 400; }

.t_w_7 { font-weight: 700; }

.t_w_9 { font-weight: 900; }

.l_30 { line-height: 2.3rem; }

.l_20 { line-height: 1.5rem; }

.l_24 { line-height: 1.9rem; }

.text12_w { font-size: .8rem; color: white; }

.text12_dG { font-size: .8rem; color: #545454; }

.text14_dG { font-size: 1.1rem; color: #545454; }

.text14_second { font-size: 1.1rem; color: #954384; }

.text14_w { font-size: 1.1rem; color: white; }

.text14_lG_full { font-size: 1.1rem; color: #d8d8d8; }

.text16_l_p { font-size: 1.2rem; color: #866e99; }

.text16_dG { font-size: 1.2rem; color: #545454; }

.text16_w { font-size: 1.2rem; color: white; }
@media screen and (max-width: 449px) and (min-width: 0) { .text16_w { font-size: 1rem; } }

.text16_main { font-size: 1.2rem; color: #5b3468; }

.text16_second { font-size: 1.2rem; color: #954384; }

.text18_dG { font-size: 1.3rem; color: #545454; }

.text18_w { font-size: 1.3rem; color: white; }
@media screen and (max-width: 1099px) and (min-width: 760px) { .text18_w { font-size: 1.2rem; } }

.text20_dG { font-size: 1.5rem; color: #545454; }
@media screen and (max-width: 1099px) and (min-width: 760px) { .text20_dG { font-size: 1.3rem; } }

.text20_w { font-size: 1.5rem; color: white; }

.text20_main { font-size: 1.5rem; color: #5b3468; }

.text24_main { font-size: 1.8rem; color: #5b3468; }

.text26_main { font-size: 2rem; color: #5b3468; }

.text26_dG { font-size: 2rem; color: #545454; }
@media screen and (max-width: 1099px) and (min-width: 760px) { .text26_dG { font-size: 1.8rem; } }

.text26_w { font-size: 2rem; color: white; }
@media screen and (max-width: 1099px) and (min-width: 760px) { .text26_w { font-size: 1.6rem; } }

.f_text28_w { font-size: 2.1rem; color: white; }

.text30_w { font-size: 2.3rem; color: white; }

.text70_main { font-size: 5.3rem; color: #5b3468; }
@media screen and (max-width: 1099px) and (min-width: 760px) { .text70_main { font-size: 4rem; } }

.i_text20_main { font-size: 1.5rem; color: #5b3468; font-weight: 700; }
.i_text20_main:after { display: inline-block; width: 100%; content: attr(title); font-size: 1.2rem; color: #5b3468; font-weight: 400; margin-top: 5px; }

.i_text70_main { font-size: 5.3rem; color: #5b3468; font-weight: 700; position: relative; }
.i_text70_main:after { display: inline-block; content: attr(title); font-size: 1.8rem; color: #5b3468; margin-left: 5px; position: absolute; bottom: 12px; }

.tag14 { display: inline-block; background-color: #5b3468; color: white; font-size: 1rem; padding: 5px 20px; }
